* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #333;
}

.timer-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: content-box;
    padding: 50px;
    width: 350px;
    height: 350px;
    max-height: 65vw;
    max-width: 65vw;
    background-color: #bbb;
    border-radius: 50%;
    box-shadow:  0px 0px 25px #000;
    z-index: 999;
}

.length-container {
    height: 75px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#break-label,
#session-label {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: flex-end;
}

.length-btns {
    width: max-content;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid #bbb;
}

.length-btns button {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    background-color: #333;
    color: #ddd;
}

.length-btns div {
    width: 35px;
    line-height: 25px;
}

.time-container {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#timer-label {
    font-size: 20px;
    letter-spacing: .5px;
}

#time-left {
    font-size: 70px;
    font-weight: 100;
    letter-spacing: .5px;
}

.time-btns {
    display: flex;
    gap: 25px;
}

#start_stop,
#reset {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    cursor: pointer;
}

#start_stop svg,
#reset svg {
    width: 20px;
    height: 20px;
    fill: #ddd;
}

.fade-text svg {
    width: 100%;
    height: 100%;
    fill: #ddd;
}

.fade-text {
    width: 800px;
    height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}